li {
	border-bottom: 1px solid #b8bbbb;
	position: relative;

	.item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;

		.content {
			display: flex;
			align-items: center;
			width: 400px;

			.inner {
				padding: 20px 0px;
			}

			.text {
				margin-left: 10px;
				width: 300px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
}
