.form {
	padding-left: 1rem;
	padding-right: 1rem;

	background: #ffffff;
	border: 1px solid #999999;
	border-radius: 5px;
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 25px;

	svg {
		color: rgb(107 114 128);
	}

	input {
		padding: 0.8rem 1rem;
		border: none;
		font-size: 18px;
		width: 100%;
		outline: none;

		&::placeholder {
			color: #cbd4e0;
			font-size: 16px;
		}
	}

	button {
		text-transform: uppercase;
		background: none;
		font-size: 15px;
		color: #8b939b;
		border: none;

		cursor: pointer;
	}
}
